mini-mdapi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/2006/04/metadata" targetNamespace="http://soap.sforce.com/2006/04/metadata" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/2006/04/metadata">
      <xsd:complexType name="FileProperties">
        <xsd:sequence>
          <xsd:element name="createdById" type="xsd:string" />
          <xsd:element name="createdByName" type="xsd:string" />
          <xsd:element name="createdDate" type="xsd:dateTime" />
          <xsd:element name="fileName" type="xsd:string" />
          <xsd:element name="fullName" type="xsd:string" />
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="lastModifiedById" type="xsd:string" />
          <xsd:element name="lastModifiedByName" type="xsd:string" />
          <xsd:element name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="manageableState" type="tns:ManageableState" />
          <xsd:element minOccurs="0" name="namespacePrefix" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ManageableState">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="released" />
          <xsd:enumeration value="deleted" />
          <xsd:enumeration value="deprecated" />
          <xsd:enumeration value="installed" />
          <xsd:enumeration value="beta" />
          <xsd:enumeration value="unmanaged" />
          <xsd:enumeration value="installedEditable" />
          <xsd:enumeration value="deprecatedEditable" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Metadata">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="fullName" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomLabel">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="categories" type="xsd:string" />
              <xsd:element name="language" type="xsd:string" />
              <xsd:element name="protected" type="xsd:boolean" />
              <xsd:element name="shortDescription" type="xsd:string" />
              <xsd:element name="value" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CustomLabels">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="labels" type="tns:CustomLabel" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="Gender">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Neuter" />
          <xsd:enumeration value="Masculine" />
          <xsd:enumeration value="Feminine" />
          <xsd:enumeration value="AnimateMasculine" />
          <xsd:enumeration value="ClassI" />
          <xsd:enumeration value="ClassIII" />
          <xsd:enumeration value="ClassV" />
          <xsd:enumeration value="ClassVII" />
          <xsd:enumeration value="ClassIX" />
          <xsd:enumeration value="ClassXI" />
          <xsd:enumeration value="ClassXIV" />
          <xsd:enumeration value="ClassXV" />
          <xsd:enumeration value="ClassXVI" />
          <xsd:enumeration value="ClassXVII" />
          <xsd:enumeration value="ClassXVIII" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="StartsWith">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Consonant" />
          <xsd:enumeration value="Vowel" />
          <xsd:enumeration value="Special" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="CustomObject">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="actionOverrides" type="tns:ActionOverride" />
              <xsd:element minOccurs="0" name="allowInChatterGroups" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="articleTypeChannelDisplay" type="tns:ArticleTypeChannelDisplay" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="businessProcesses" type="tns:BusinessProcess" />
              <xsd:element minOccurs="0" name="compactLayoutAssignment" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="compactLayouts" type="tns:CompactLayout" />
              <xsd:element minOccurs="0" name="customHelp" type="xsd:string" />
              <xsd:element minOccurs="0" name="customHelpPage" type="xsd:string" />
              <xsd:element minOccurs="0" name="customSettingsType" type="tns:CustomSettingsType" />
              <xsd:element minOccurs="0" name="deploymentStatus" type="tns:DeploymentStatus" />
              <xsd:element minOccurs="0" name="deprecated" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="description" type="xsd:string" />
              <xsd:element minOccurs="0" name="enableActivities" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="enableBulkApi" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="enableDataTranslation" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="enableDivisions" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="enableEnhancedLookup" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="enableFeeds" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="enableHistory" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="enableLicensing" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="enablePublishStatusTracking" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="enableReports" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="enableSearch" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="enableSharing" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="enableStreamingApi" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="eventType" type="tns:PlatformEventType" />
              <xsd:element minOccurs="0" name="externalDataSource" type="xsd:string" />
              <xsd:element minOccurs="0" name="externalName" type="xsd:string" />
              <xsd:element minOccurs="0" name="externalRepository" type="xsd:string" />
              <xsd:element minOccurs="0" name="externalSharingModel" type="tns:SharingModel" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="fieldSets" type="tns:FieldSet" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="fields" type="tns:CustomField" />
              <xsd:element minOccurs="0" name="gender" type="tns:Gender" />
              <xsd:element minOccurs="0" name="historyRetentionPolicy" type="tns:HistoryRetentionPolicy" />
              <xsd:element minOccurs="0" name="household" type="xsd:boolean" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="indexes" type="tns:Index" />
              <xsd:element minOccurs="0" name="label" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="listViews" type="tns:ListView" />
              <xsd:element minOccurs="0" name="nameField" type="tns:CustomField" />
              <xsd:element minOccurs="0" name="pluralLabel" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="profileSearchLayouts" type="tns:ProfileSearchLayouts" />
              <xsd:element minOccurs="0" name="publishBehavior" type="tns:PlatformEventPublishBehavior" />
              <xsd:element minOccurs="0" name="recordTypeTrackFeedHistory" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="recordTypeTrackHistory" type="xsd:boolean" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="recordTypes" type="tns:RecordType" />
              <xsd:element minOccurs="0" name="searchLayouts" type="tns:SearchLayouts" />
              <xsd:element minOccurs="0" name="sharingModel" type="tns:SharingModel" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="sharingReasons" type="tns:SharingReason" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="sharingRecalculations" type="tns:SharingRecalculation" />
              <xsd:element minOccurs="0" name="startsWith" type="tns:StartsWith" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="validationRules" type="tns:ValidationRule" />
              <xsd:element minOccurs="0" name="visibility" type="tns:SetupObjectVisibility" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="webLinks" type="tns:WebLink" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ActionOverride">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="actionName" type="xsd:string" />
          <xsd:element minOccurs="0" name="comment" type="xsd:string" />
          <xsd:element minOccurs="0" name="content" type="xsd:string" />
          <xsd:element minOccurs="0" name="formFactor" type="tns:FormFactor" />
          <xsd:element minOccurs="0" name="skipRecordTypeSelect" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="type" type="tns:ActionOverrideType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="FormFactor">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Small" />
          <xsd:enumeration value="Medium" />
          <xsd:enumeration value="Large" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ActionOverrideType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Default" />
          <xsd:enumeration value="Standard" />
          <xsd:enumeration value="Scontrol" />
          <xsd:enumeration value="Visualforce" />
          <xsd:enumeration value="Flexipage" />
          <xsd:enumeration value="LightningComponent" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ArticleTypeChannelDisplay">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="articleTypeTemplates" type="tns:ArticleTypeTemplate" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArticleTypeTemplate">
        <xsd:sequence>
          <xsd:element name="channel" type="tns:Channel" />
          <xsd:element minOccurs="0" name="page" type="xsd:string" />
          <xsd:element name="template" type="tns:Template" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Channel">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AllChannels" />
          <xsd:enumeration value="App" />
          <xsd:enumeration value="Pkb" />
          <xsd:enumeration value="Csp" />
          <xsd:enumeration value="Prm" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Template">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Page" />
          <xsd:enumeration value="Tab" />
          <xsd:enumeration value="Toc" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="BusinessProcess">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="description" type="xsd:string" />
              <xsd:element minOccurs="0" name="isActive" type="xsd:boolean" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="values" type="tns:PicklistValue" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="PicklistValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="color" type="xsd:string" />
              <xsd:element name="default" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="description" type="xsd:string" />
              <xsd:element minOccurs="0" name="isActive" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="allowEmail" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="closed" type="xsd:boolean" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="controllingFieldValues" type="xsd:string" />
              <xsd:element minOccurs="0" name="converted" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="cssExposed" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="forecastCategory" type="tns:ForecastCategories" />
              <xsd:element minOccurs="0" name="highPriority" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="probability" type="xsd:int" />
              <xsd:element minOccurs="0" name="reverseRole" type="xsd:string" />
              <xsd:element minOccurs="0" name="reviewed" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="won" type="xsd:boolean" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="ForecastCategories">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Omitted" />
          <xsd:enumeration value="Pipeline" />
          <xsd:enumeration value="BestCase" />
          <xsd:enumeration value="Forecast" />
          <xsd:enumeration value="Closed" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="CompactLayout">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="fields" type="xsd:string" />
              <xsd:element name="label" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="CustomSettingsType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="List" />
          <xsd:enumeration value="Hierarchy" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="DeploymentStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="InDevelopment" />
          <xsd:enumeration value="Deployed" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PlatformEventType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="HighVolume" />
          <xsd:enumeration value="StandardVolume" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="SharingModel">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Private" />
          <xsd:enumeration value="Read" />
          <xsd:enumeration value="ReadSelect" />
          <xsd:enumeration value="ReadWrite" />
          <xsd:enumeration value="ReadWriteTransfer" />
          <xsd:enumeration value="FullAccess" />
          <xsd:enumeration value="ControlledByParent" />
          <xsd:enumeration value="ControlledByLeadOrContact" />
          <xsd:enumeration value="ControlledByCampaign" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="FieldSet">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="availableFields" type="tns:FieldSetItem" />
              <xsd:element name="description" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="displayedFields" type="tns:FieldSetItem" />
              <xsd:element name="label" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="FieldSetItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="field" type="xsd:string" />
          <xsd:element minOccurs="0" name="isFieldManaged" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="isRequired" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomField">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="businessOwnerGroup" type="xsd:string" />
              <xsd:element minOccurs="0" name="businessOwnerUser" type="xsd:string" />
              <xsd:element minOccurs="0" name="businessStatus" type="xsd:string" />
              <xsd:element minOccurs="0" name="caseSensitive" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="complianceGroup" type="xsd:string" />
              <xsd:element minOccurs="0" name="customDataType" type="xsd:string" />
              <xsd:element minOccurs="0" name="defaultValue" type="xsd:string" />
              <xsd:element minOccurs="0" name="deleteConstraint" type="tns:DeleteConstraint" />
              <xsd:element minOccurs="0" name="deprecated" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="description" type="xsd:string" />
              <xsd:element minOccurs="0" name="displayFormat" type="xsd:string" />
              <xsd:element minOccurs="0" name="encryptionScheme" type="tns:EncryptionScheme" />
              <xsd:element minOccurs="0" name="escapeMarkup" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="externalDeveloperName" type="xsd:string" />
              <xsd:element minOccurs="0" name="externalId" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="fieldManageability" type="tns:FieldManageability" />
              <xsd:element minOccurs="0" name="formula" type="xsd:string" />
              <xsd:element minOccurs="0" name="formulaTreatBlanksAs" type="tns:TreatBlanksAs" />
              <xsd:element minOccurs="0" name="inlineHelpText" type="xsd:string" />
              <xsd:element minOccurs="0" name="isAIPredictionField" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="isConvertLeadDisabled" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="isFilteringDisabled" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="isNameField" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="isSortingDisabled" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="label" type="xsd:string" />
              <xsd:element minOccurs="0" name="length" type="xsd:int" />
              <xsd:element minOccurs="0" name="lookupFilter" type="tns:LookupFilter" />
              <xsd:element minOccurs="0" name="maskChar" type="tns:EncryptedFieldMaskChar" />
              <xsd:element minOccurs="0" name="maskType" type="tns:EncryptedFieldMaskType" />
              <xsd:element minOccurs="0" name="metadataRelationshipControllingField" type="xsd:string" />
              <xsd:element minOccurs="0" name="populateExistingRows" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="precision" type="xsd:int" />
              <xsd:element minOccurs="0" name="referenceTargetField" type="xsd:string" />
              <xsd:element minOccurs="0" name="referenceTo" type="xsd:string" />
              <xsd:element minOccurs="0" name="relationshipLabel" type="xsd:string" />
              <xsd:element minOccurs="0" name="relationshipName" type="xsd:string" />
              <xsd:element minOccurs="0" name="relationshipOrder" type="xsd:int" />
              <xsd:element minOccurs="0" name="reparentableMasterDetail" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="required" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="restrictedAdminField" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="scale" type="xsd:int" />
              <xsd:element minOccurs="0" name="securityClassification" type="xsd:string" />
              <xsd:element minOccurs="0" name="startingNumber" type="xsd:int" />
              <xsd:element minOccurs="0" name="stripMarkup" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="summarizedField" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="summaryFilterItems" type="tns:FilterItem" />
              <xsd:element minOccurs="0" name="summaryForeignKey" type="xsd:string" />
              <xsd:element minOccurs="0" name="summaryOperation" type="tns:SummaryOperations" />
              <xsd:element minOccurs="0" name="trackFeedHistory" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="trackHistory" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="trackTrending" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="translateData" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="type" type="tns:FieldType" />
              <xsd:element minOccurs="0" name="unique" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="valueSet" type="tns:ValueSet" />
              <xsd:element minOccurs="0" name="visibleLines" type="xsd:int" />
              <xsd:element minOccurs="0" name="writeRequiresMasterRead" type="xsd:boolean" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="DeleteConstraint">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Cascade" />
          <xsd:enumeration value="Restrict" />
          <xsd:enumeration value="SetNull" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="EncryptionScheme">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="ProbabilisticEncryption" />
          <xsd:enumeration value="CaseSensitiveDeterministicEncryption" />
          <xsd:enumeration value="CaseInsensitiveDeterministicEncryption" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="FieldManageability">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="DeveloperControlled" />
          <xsd:enumeration value="SubscriberControlled" />
          <xsd:enumeration value="Locked" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="TreatBlanksAs">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="BlankAsBlank" />
          <xsd:enumeration value="BlankAsZero" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="LookupFilter">
        <xsd:sequence>
          <xsd:element name="active" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="booleanFilter" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="errorMessage" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="filterItems" type="tns:FilterItem" />
          <xsd:element minOccurs="0" name="infoMessage" type="xsd:string" />
          <xsd:element name="isOptional" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="EncryptedFieldMaskChar">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="asterisk" />
          <xsd:enumeration value="X" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="EncryptedFieldMaskType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="all" />
          <xsd:enumeration value="creditCard" />
          <xsd:enumeration value="ssn" />
          <xsd:enumeration value="lastFour" />
          <xsd:enumeration value="sin" />
          <xsd:enumeration value="nino" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="SummaryOperations">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="count" />
          <xsd:enumeration value="sum" />
          <xsd:enumeration value="min" />
          <xsd:enumeration value="max" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="FieldType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AutoNumber" />
          <xsd:enumeration value="Lookup" />
          <xsd:enumeration value="MasterDetail" />
          <xsd:enumeration value="Checkbox" />
          <xsd:enumeration value="Currency" />
          <xsd:enumeration value="Date" />
          <xsd:enumeration value="DateTime" />
          <xsd:enumeration value="Email" />
          <xsd:enumeration value="Number" />
          <xsd:enumeration value="Percent" />
          <xsd:enumeration value="Phone" />
          <xsd:enumeration value="Picklist" />
          <xsd:enumeration value="MultiselectPicklist" />
          <xsd:enumeration value="Text" />
          <xsd:enumeration value="TextArea" />
          <xsd:enumeration value="LongTextArea" />
          <xsd:enumeration value="Html" />
          <xsd:enumeration value="Url" />
          <xsd:enumeration value="EncryptedText" />
          <xsd:enumeration value="Summary" />
          <xsd:enumeration value="Hierarchy" />
          <xsd:enumeration value="File" />
          <xsd:enumeration value="MetadataRelationship" />
          <xsd:enumeration value="Location" />
          <xsd:enumeration value="ExternalLookup" />
          <xsd:enumeration value="IndirectLookup" />
          <xsd:enumeration value="CustomDataType" />
          <xsd:enumeration value="Time" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ValueSet">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="controllingField" type="xsd:string" />
          <xsd:element minOccurs="0" name="restricted" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="valueSetDefinition" type="tns:ValueSetValuesDefinition" />
          <xsd:element minOccurs="0" name="valueSetName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="valueSettings" type="tns:ValueSettings" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ValueSetValuesDefinition">
        <xsd:sequence>
          <xsd:element name="sorted" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="value" type="tns:CustomValue" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="color" type="xsd:string" />
              <xsd:element name="default" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="description" type="xsd:string" />
              <xsd:element minOccurs="0" name="isActive" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="label" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ValueSettings">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="controllingFieldValue" type="xsd:string" />
          <xsd:element name="valueName" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FilterItem">
        <xsd:sequence>
          <xsd:element name="field" type="xsd:string" />
          <xsd:element name="operation" type="tns:FilterOperation" />
          <xsd:element minOccurs="0" name="value" type="xsd:string" />
          <xsd:element minOccurs="0" name="valueField" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="FilterOperation">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="equals" />
          <xsd:enumeration value="notEqual" />
          <xsd:enumeration value="lessThan" />
          <xsd:enumeration value="greaterThan" />
          <xsd:enumeration value="lessOrEqual" />
          <xsd:enumeration value="greaterOrEqual" />
          <xsd:enumeration value="contains" />
          <xsd:enumeration value="notContain" />
          <xsd:enumeration value="startsWith" />
          <xsd:enumeration value="includes" />
          <xsd:enumeration value="excludes" />
          <xsd:enumeration value="within" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="HistoryRetentionPolicy">
        <xsd:sequence>
          <xsd:element name="archiveAfterMonths" type="xsd:int" />
          <xsd:element name="archiveRetentionYears" type="xsd:int" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Index">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="fields" type="tns:IndexField" />
              <xsd:element name="label" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="IndexField">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="sortDirection" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListView">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="booleanFilter" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="columns" type="xsd:string" />
              <xsd:element minOccurs="0" name="division" type="xsd:string" />
              <xsd:element name="filterScope" type="tns:FilterScope" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="filters" type="tns:ListViewFilter" />
              <xsd:element name="label" type="xsd:string" />
              <xsd:element minOccurs="0" name="language" type="tns:Language" />
              <xsd:element minOccurs="0" name="queue" type="xsd:string" />
              <xsd:element minOccurs="0" name="sharedTo" type="tns:SharedTo" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="FilterScope">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Everything" />
          <xsd:enumeration value="Mine" />
          <xsd:enumeration value="Queue" />
          <xsd:enumeration value="Delegated" />
          <xsd:enumeration value="MyTerritory" />
          <xsd:enumeration value="MyTeamTerritory" />
          <xsd:enumeration value="Team" />
          <xsd:enumeration value="SalesTeam" />
          <xsd:enumeration value="AssignedToMe" />
          <xsd:enumeration value="MineAndMyGroups" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Language">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="en_US" />
          <xsd:enumeration value="de" />
          <xsd:enumeration value="es" />
          <xsd:enumeration value="fr" />
          <xsd:enumeration value="it" />
          <xsd:enumeration value="ja" />
          <xsd:enumeration value="sv" />
          <xsd:enumeration value="ko" />
          <xsd:enumeration value="zh_TW" />
          <xsd:enumeration value="zh_CN" />
          <xsd:enumeration value="pt_BR" />
          <xsd:enumeration value="nl_NL" />
          <xsd:enumeration value="da" />
          <xsd:enumeration value="th" />
          <xsd:enumeration value="fi" />
          <xsd:enumeration value="ru" />
          <xsd:enumeration value="es_MX" />
          <xsd:enumeration value="no" />
          <xsd:enumeration value="hu" />
          <xsd:enumeration value="pl" />
          <xsd:enumeration value="cs" />
          <xsd:enumeration value="tr" />
          <xsd:enumeration value="in" />
          <xsd:enumeration value="ro" />
          <xsd:enumeration value="vi" />
          <xsd:enumeration value="uk" />
          <xsd:enumeration value="iw" />
          <xsd:enumeration value="el" />
          <xsd:enumeration value="bg" />
          <xsd:enumeration value="en_GB" />
          <xsd:enumeration value="ar" />
          <xsd:enumeration value="sk" />
          <xsd:enumeration value="pt_PT" />
          <xsd:enumeration value="hr" />
          <xsd:enumeration value="sl" />
          <xsd:enumeration value="fr_CA" />
          <xsd:enumeration value="ka" />
          <xsd:enumeration value="sr" />
          <xsd:enumeration value="sh" />
          <xsd:enumeration value="en_AU" />
          <xsd:enumeration value="en_MY" />
          <xsd:enumeration value="en_IN" />
          <xsd:enumeration value="en_PH" />
          <xsd:enumeration value="en_CA" />
          <xsd:enumeration value="ro_MD" />
          <xsd:enumeration value="bs" />
          <xsd:enumeration value="mk" />
          <xsd:enumeration value="lv" />
          <xsd:enumeration value="lt" />
          <xsd:enumeration value="et" />
          <xsd:enumeration value="sq" />
          <xsd:enumeration value="sh_ME" />
          <xsd:enumeration value="mt" />
          <xsd:enumeration value="ga" />
          <xsd:enumeration value="eu" />
          <xsd:enumeration value="cy" />
          <xsd:enumeration value="is" />
          <xsd:enumeration value="ms" />
          <xsd:enumeration value="tl" />
          <xsd:enumeration value="lb" />
          <xsd:enumeration value="rm" />
          <xsd:enumeration value="hy" />
          <xsd:enumeration value="hi" />
          <xsd:enumeration value="ur" />
          <xsd:enumeration value="bn" />
          <xsd:enumeration value="de_AT" />
          <xsd:enumeration value="de_CH" />
          <xsd:enumeration value="ta" />
          <xsd:enumeration value="ar_DZ" />
          <xsd:enumeration value="ar_BH" />
          <xsd:enumeration value="ar_EG" />
          <xsd:enumeration value="ar_IQ" />
          <xsd:enumeration value="ar_JO" />
          <xsd:enumeration value="ar_KW" />
          <xsd:enumeration value="ar_LB" />
          <xsd:enumeration value="ar_LY" />
          <xsd:enumeration value="ar_MA" />
          <xsd:enumeration value="ar_OM" />
          <xsd:enumeration value="ar_QA" />
          <xsd:enumeration value="ar_SA" />
          <xsd:enumeration value="ar_SD" />
          <xsd:enumeration value="ar_SY" />
          <xsd:enumeration value="ar_TN" />
          <xsd:enumeration value="ar_AE" />
          <xsd:enumeration value="ar_YE" />
          <xsd:enumeration value="zh_SG" />
          <xsd:enumeration value="zh_HK" />
          <xsd:enumeration value="en_HK" />
          <xsd:enumeration value="en_IE" />
          <xsd:enumeration value="en_SG" />
          <xsd:enumeration value="en_ZA" />
          <xsd:enumeration value="fr_BE" />
          <xsd:enumeration value="fr_LU" />
          <xsd:enumeration value="fr_CH" />
          <xsd:enumeration value="de_BE" />
          <xsd:enumeration value="de_LU" />
          <xsd:enumeration value="it_CH" />
          <xsd:enumeration value="nl_BE" />
          <xsd:enumeration value="es_AR" />
          <xsd:enumeration value="es_BO" />
          <xsd:enumeration value="es_CL" />
          <xsd:enumeration value="es_CO" />
          <xsd:enumeration value="es_CR" />
          <xsd:enumeration value="es_DO" />
          <xsd:enumeration value="es_EC" />
          <xsd:enumeration value="es_SV" />
          <xsd:enumeration value="es_GT" />
          <xsd:enumeration value="es_HN" />
          <xsd:enumeration value="es_NI" />
          <xsd:enumeration value="es_PA" />
          <xsd:enumeration value="es_PY" />
          <xsd:enumeration value="es_PE" />
          <xsd:enumeration value="es_PR" />
          <xsd:enumeration value="es_US" />
          <xsd:enumeration value="es_UY" />
          <xsd:enumeration value="es_VE" />
          <xsd:enumeration value="ca" />
          <xsd:enumeration value="af" />
          <xsd:enumeration value="sw" />
          <xsd:enumeration value="zu" />
          <xsd:enumeration value="xh" />
          <xsd:enumeration value="te" />
          <xsd:enumeration value="ml" />
          <xsd:enumeration value="kn" />
          <xsd:enumeration value="mr" />
          <xsd:enumeration value="gu" />
          <xsd:enumeration value="en_NZ" />
          <xsd:enumeration value="mi" />
          <xsd:enumeration value="my" />
          <xsd:enumeration value="fa" />
          <xsd:enumeration value="eo" />
          <xsd:enumeration value="iw_EO" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ListViewFilter">
        <xsd:sequence>
          <xsd:element name="field" type="xsd:string" />
          <xsd:element name="operation" type="tns:FilterOperation" />
          <xsd:element minOccurs="0" name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SharedTo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="allCustomerPortalUsers" type="xsd:string" />
          <xsd:element minOccurs="0" name="allInternalUsers" type="xsd:string" />
          <xsd:element minOccurs="0" name="allPartnerUsers" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="channelProgramGroup" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="channelProgramGroups" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="groups" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="guestUser" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="managerSubordinates" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="managers" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="portalRole" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="portalRoleAndSubordinates" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="queue" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="role" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="roleAndSubordinates" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="roleAndSubordinatesInternal" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="roles" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="rolesAndSubordinates" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="territories" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="territoriesAndSubordinates" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="territory" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="territoryAndSubordinates" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProfileSearchLayouts">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="fields" type="xsd:string" />
          <xsd:element minOccurs="0" name="profileName" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="PlatformEventPublishBehavior">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="PublishAfterCommit" />
          <xsd:enumeration value="PublishImmediately" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="RecordType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element name="active" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="businessProcess" type="xsd:string" />
              <xsd:element minOccurs="0" name="compactLayoutAssignment" type="xsd:string" />
              <xsd:element minOccurs="0" name="description" type="xsd:string" />
              <xsd:element name="label" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="picklistValues" type="tns:RecordTypePicklistValue" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="RecordTypePicklistValue">
        <xsd:sequence>
          <xsd:element name="picklist" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="values" type="tns:PicklistValue" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchLayouts">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="customTabListAdditionalFields" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="excludedStandardButtons" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="listViewButtons" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="lookupDialogsAdditionalFields" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="lookupFilterFields" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="lookupPhoneDialogsAdditionalFields" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="massQuickActions" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchFilterFields" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchResultsAdditionalFields" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchResultsCustomButtons" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SharingReason">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element name="label" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SharingRecalculation">
        <xsd:sequence>
          <xsd:element name="className" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ValidationRule">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element name="active" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="description" type="xsd:string" />
              <xsd:element name="errorConditionFormula" type="xsd:string" />
              <xsd:element minOccurs="0" name="errorDisplayField" type="xsd:string" />
              <xsd:element name="errorMessage" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="SetupObjectVisibility">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="PackageProtected" />
          <xsd:enumeration value="Protected" />
          <xsd:enumeration value="Public" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="WebLink">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element name="availability" type="tns:WebLinkAvailability" />
              <xsd:element minOccurs="0" name="description" type="xsd:string" />
              <xsd:element name="displayType" type="tns:WebLinkDisplayType" />
              <xsd:element minOccurs="0" name="encodingKey" type="tns:Encoding" />
              <xsd:element minOccurs="0" name="hasMenubar" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="hasScrollbars" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="hasToolbar" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="height" type="xsd:int" />
              <xsd:element minOccurs="0" name="isResizable" type="xsd:boolean" />
              <xsd:element name="linkType" type="tns:WebLinkType" />
              <xsd:element minOccurs="0" name="masterLabel" type="xsd:string" />
              <xsd:element name="openType" type="tns:WebLinkWindowType" />
              <xsd:element minOccurs="0" name="page" type="xsd:string" />
              <xsd:element minOccurs="0" name="position" type="tns:WebLinkPosition" />
              <xsd:element name="protected" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="requireRowSelection" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="scontrol" type="xsd:string" />
              <xsd:element minOccurs="0" name="showsLocation" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="showsStatus" type="xsd:boolean" />
              <xsd:element minOccurs="0" name="url" type="xsd:string" />
              <xsd:element minOccurs="0" name="width" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="WebLinkAvailability">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="online" />
          <xsd:enumeration value="offline" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WebLinkDisplayType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="link" />
          <xsd:enumeration value="button" />
          <xsd:enumeration value="massActionButton" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Encoding">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="UTF-8" />
          <xsd:enumeration value="ISO-8859-1" />
          <xsd:enumeration value="Shift_JIS" />
          <xsd:enumeration value="ISO-2022-JP" />
          <xsd:enumeration value="EUC-JP" />
          <xsd:enumeration value="ks_c_5601-1987" />
          <xsd:enumeration value="Big5" />
          <xsd:enumeration value="GB2312" />
          <xsd:enumeration value="Big5-HKSCS" />
          <xsd:enumeration value="x-SJIS_0213" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WebLinkType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="url" />
          <xsd:enumeration value="sControl" />
          <xsd:enumeration value="javascript" />
          <xsd:enumeration value="page" />
          <xsd:enumeration value="flow" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WebLinkWindowType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="newWindow" />
          <xsd:enumeration value="sidebar" />
          <xsd:enumeration value="noSidebar" />
          <xsd:enumeration value="replace" />
          <xsd:enumeration value="onClickJavaScript" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WebLinkPosition">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="fullScreen" />
          <xsd:enumeration value="none" />
          <xsd:enumeration value="topLeft" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="CustomObjectTranslation">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="caseValues" type="tns:ObjectNameCaseValue" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="fieldSets" type="tns:FieldSetTranslation" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="fields" type="tns:CustomFieldTranslation" />
              <xsd:element minOccurs="0" name="gender" type="tns:Gender" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="layouts" type="tns:LayoutTranslation" />
              <xsd:element minOccurs="0" name="nameFieldLabel" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="quickActions" type="tns:QuickActionTranslation" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="recordTypes" type="tns:RecordTypeTranslation" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="sharingReasons" type="tns:SharingReasonTranslation" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="standardFields" type="tns:StandardFieldTranslation" />
              <xsd:element minOccurs="0" name="startsWith" type="tns:StartsWith" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="validationRules" type="tns:ValidationRuleTranslation" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="webLinks" type="tns:WebLinkTranslation" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="workflowTasks" type="tns:WorkflowTaskTranslation" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ObjectNameCaseValue">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="article" type="tns:Article" />
          <xsd:element minOccurs="0" name="caseType" type="tns:CaseType" />
          <xsd:element minOccurs="0" name="plural" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="possessive" type="tns:Possessive" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Article">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Indefinite" />
          <xsd:enumeration value="Definite" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="CaseType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Nominative" />
          <xsd:enumeration value="Accusative" />
          <xsd:enumeration value="Genitive" />
          <xsd:enumeration value="Dative" />
          <xsd:enumeration value="Inessive" />
          <xsd:enumeration value="Elative" />
          <xsd:enumeration value="Illative" />
          <xsd:enumeration value="Adessive" />
          <xsd:enumeration value="Ablative" />
          <xsd:enumeration value="Allative" />
          <xsd:enumeration value="Essive" />
          <xsd:enumeration value="Translative" />
          <xsd:enumeration value="Partitive" />
          <xsd:enumeration value="Objective" />
          <xsd:enumeration value="Subjective" />
          <xsd:enumeration value="Instrumental" />
          <xsd:enumeration value="Prepositional" />
          <xsd:enumeration value="Locative" />
          <xsd:enumeration value="Vocative" />
          <xsd:enumeration value="Sublative" />
          <xsd:enumeration value="Superessive" />
          <xsd:enumeration value="Delative" />
          <xsd:enumeration value="Causalfinal" />
          <xsd:enumeration value="Essiveformal" />
          <xsd:enumeration value="Termanative" />
          <xsd:enumeration value="Distributive" />
          <xsd:enumeration value="Ergative" />
          <xsd:enumeration value="Adverbial" />
          <xsd:enumeration value="Abessive" />
          <xsd:enumeration value="Comitative" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Possessive">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="First" />
          <xsd:enumeration value="Second" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="FieldSetTranslation">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomFieldTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="caseValues" type="tns:ObjectNameCaseValue" />
          <xsd:element minOccurs="0" name="gender" type="tns:Gender" />
          <xsd:element minOccurs="0" name="help" type="xsd:string" />
          <xsd:element minOccurs="0" name="label" type="xsd:string" />
          <xsd:element minOccurs="0" name="lookupFilter" type="tns:LookupFilterTranslation" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="picklistValues" type="tns:PicklistValueTranslation" />
          <xsd:element minOccurs="0" name="relationshipLabel" type="xsd:string" />
          <xsd:element minOccurs="0" name="startsWith" type="tns:StartsWith" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LookupFilterTranslation">
        <xsd:sequence>
          <xsd:element name="errorMessage" type="xsd:string" />
          <xsd:element name="informationalMessage" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PicklistValueTranslation">
        <xsd:sequence>
          <xsd:element name="masterLabel" type="xsd:string" />
          <xsd:element minOccurs="0" name="translation" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LayoutTranslation">
        <xsd:sequence>
          <xsd:element name="layout" type="xsd:string" />
          <xsd:element minOccurs="0" name="layoutType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="sections" type="tns:LayoutSectionTranslation" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LayoutSectionTranslation">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="section" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QuickActionTranslation">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RecordTypeTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SharingReasonTranslation">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="StandardFieldTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ValidationRuleTranslation">
        <xsd:sequence>
          <xsd:element name="errorMessage" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WebLinkTranslation">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WorkflowTaskTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="subject" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GlobalValueSetTranslation">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="valueTranslation" type="tns:ValueTranslation" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ValueTranslation">
        <xsd:sequence>
          <xsd:element name="masterLabel" type="xsd:string" />
          <xsd:element minOccurs="0" name="translation" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MetadataWithContent">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="content" type="xsd:base64Binary" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Translations">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Metadata">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="customApplications" type="tns:CustomApplicationTranslation" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="customLabels" type="tns:CustomLabelTranslation" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="customPageWebLinks" type="tns:CustomPageWebLinkTranslation" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="customTabs" type="tns:CustomTabTranslation" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="flowDefinitions" type="tns:FlowDefinitionTranslation" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="prompts" type="tns:PromptTranslation" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="quickActions" type="tns:GlobalQuickActionTranslation" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="reportTypes" type="tns:ReportTypeTranslation" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="scontrols" type="tns:ScontrolTranslation" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CustomApplicationTranslation">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomLabelTranslation">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomPageWebLinkTranslation">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomTabTranslation">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FlowDefinitionTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="flows" type="tns:FlowTranslation" />
          <xsd:element name="fullName" type="xsd:string" />
          <xsd:element minOccurs="0" name="label" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FlowTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="choices" type="tns:FlowChoiceTranslation" />
          <xsd:element minOccurs="0" name="fullName" type="xsd:string" />
          <xsd:element minOccurs="0" name="label" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="screens" type="tns:FlowScreenTranslation" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="stages" type="tns:FlowStageTranslation" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="textTemplates" type="tns:FlowTextTemplateTranslation" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FlowChoiceTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="choiceText" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="userInput" type="tns:FlowChoiceUserInputTranslation" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FlowChoiceUserInputTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="promptText" type="xsd:string" />
          <xsd:element minOccurs="0" name="validationRule" type="tns:FlowInputValidationRuleTranslation" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FlowInputValidationRuleTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="errorMessage" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FlowScreenTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="fields" type="tns:FlowScreenFieldTranslation" />
          <xsd:element minOccurs="0" name="helpText" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="pausedText" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FlowScreenFieldTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="fieldText" type="xsd:string" />
          <xsd:element minOccurs="0" name="helpText" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="validationRule" type="tns:FlowInputValidationRuleTranslation" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FlowStageTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FlowTextTemplateTranslation">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="text" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PromptTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="promptVersions" type="tns:PromptVersionTranslation" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PromptVersionTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="actionButtonLabel" type="xsd:string" />
          <xsd:element minOccurs="0" name="actionButtonLink" type="xsd:string" />
          <xsd:element minOccurs="0" name="body" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="dismissButtonLabel" type="xsd:string" />
          <xsd:element minOccurs="0" name="header" type="xsd:string" />
          <xsd:element minOccurs="0" name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="stepNumber" type="xsd:int" />
          <xsd:element minOccurs="0" name="title" type="xsd:string" />
          <xsd:element minOccurs="0" name="videoLink" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GlobalQuickActionTranslation">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReportTypeTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="sections" type="tns:ReportTypeSectionTranslation" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReportTypeSectionTranslation">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="columns" type="tns:ReportTypeColumnTranslation" />
          <xsd:element minOccurs="0" name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReportTypeColumnTranslation">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ScontrolTranslation">
        <xsd:sequence>
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SaveResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="errors" type="tns:Error" />
          <xsd:element name="fullName" type="xsd:string" />
          <xsd:element name="success" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Error">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="extendedErrorDetails" type="tns:ExtendedErrorDetails" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="fields" type="xsd:string" />
          <xsd:element name="message" type="xsd:string" />
          <xsd:element name="statusCode" type="tns:StatusCode" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ExtendedErrorCode">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ACTIONCALL_INVALID_INPUT_PARAM_NAME">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity, actionCallName, parameterName</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ACTIONCALL_MISSING_NAME">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ACTIONCALL_MISSING_REQUIRED_PARAM">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity, actionCallName, parameterName</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ACTIONCALL_MISSING_REQUIRED_TYPE">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity, actionCallName</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="DATATYPE_INVALID">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity, elementName, dataType</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="DATATYPE_MISSING">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity, elementName</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="FIELD_INVALID_VALUE">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity, fieldName, parameterName</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="FIELD_NOT_FOUND">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity, objectName, fieldName</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="OBJECTTYPE_INVALID">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity, objectType</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="OBJECT_CANNOT_BE_QUERIED">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity, objectName</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="OBJECT_CANNOT_BE_UPDATED">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity, objectName</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="OBJECT_NOT_FOUND">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity, objectName</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="OBJECT_TYPE_DOES_NOT_EXIST">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity, processType</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="PARAM_DATATYPE_NOT_SUPPORTED">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity, parameterName</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="UNEXPECTED_ERROR">
            <xsd:annotation>
              <xsd:documentation>Errors with this extended error code have the following properties: severity</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ExtendedErrorDetails">
        <xsd:sequence>
          <xsd:element name="extendedErrorCode" type="tns:ExtendedErrorCode" />
          <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" processContents="lax" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListMetadataQuery">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="folder" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReadResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="records" type="tns:Metadata" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UpsertResult">
        <xsd:sequence>
          <xsd:element name="created" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="errors" type="tns:Error" />
          <xsd:element name="fullName" type="xsd:string" />
          <xsd:element name="success" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AllOrNoneHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allOrNone" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SessionHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
          <xsd:length value="18" />
          <xsd:pattern value="[a-zA-Z0-9]{18}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="StatusCode">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ALREADY_IN_PROCESS" />
          <xsd:enumeration value="CUSTOM_METADATA_LIMIT_EXCEEDED" />
          <xsd:enumeration value="CUSTOM_SETTINGS_LIMIT_EXCEEDED" />
          <xsd:enumeration value="ENTITY_SAVE_ERROR" />
          <xsd:enumeration value="ENTITY_SAVE_VALIDATION_ERROR" />
          <xsd:enumeration value="FAILED_ACTIVATION" />
          <xsd:enumeration value="INTERNAL_ERROR" />
          <xsd:enumeration value="INVALID_ACCESS_LEVEL" />
          <xsd:enumeration value="INVALID_ACCESS_TOKEN" />
          <xsd:enumeration value="INVALID_API_INPUT" />
          <xsd:enumeration value="INVALID_AUTH_HEADER" />
          <xsd:enumeration value="INVALID_CONTENT_TYPE" />
          <xsd:enumeration value="INVALID_ID_FIELD" />
          <xsd:enumeration value="INVALID_INPUT" />
          <xsd:enumeration value="INVALID_INPUT_FORMAT" />
          <xsd:enumeration value="INVALID_OAUTH_URL" />
          <xsd:enumeration value="INVALID_OPERATION" />
          <xsd:enumeration value="INVALID_OPERATOR" />
          <xsd:enumeration value="INVALID_REFRESH_TOKEN" />
          <xsd:enumeration value="INVALID_SESSION_ID" />
          <xsd:enumeration value="INVALID_STATUS" />
          <xsd:enumeration value="LIMIT_EXCEEDED" />
          <xsd:enumeration value="MALFORMED_ID" />
          <xsd:enumeration value="MAX_LIMIT_EXCEEDED" />
          <xsd:enumeration value="NO_ACCESS_TOKEN" />
          <xsd:enumeration value="NO_ACCESS_TOKEN_FROM_REFRESH" />
          <xsd:enumeration value="NO_REFRESH_TOKEN" />
          <xsd:enumeration value="NO_TOKEN_ENDPOINT" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="createMetadata">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="metadata" type="tns:Metadata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createMetadataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="result" type="tns:SaveResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listMetadata">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="queries" type="tns:ListMetadataQuery" />
            <xsd:element name="asOfVersion" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listMetadataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="result" type="tns:FileProperties" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="readMetadata">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="fullNames" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="readMetadataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:ReadResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateMetadata">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="metadata" type="tns:Metadata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateMetadataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="result" type="tns:SaveResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="upsertMetadata">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="metadata" type="tns:Metadata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="upsertMetadataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="result" type="tns:UpsertResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DescribeMetadataResult">
        <xsd:sequence>
          <xsd:element name="metadataObjects" minOccurs="0" maxOccurs="unbounded" type="tns:DescribeMetadataObject"/>
          <xsd:element name="organizationNamespace" type="xsd:string"/>
          <xsd:element name="partialSaveAllowed" type="xsd:boolean"/>
          <xsd:element name="testRequired" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DescribeMetadataObject">
        <xsd:sequence>
          <xsd:element name="childXmlNames" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
          <xsd:element name="directoryName" type="xsd:string"/>
          <xsd:element name="inFolder" type="xsd:boolean"/>
          <xsd:element name="metaFile" type="xsd:boolean"/>
          <xsd:element name="suffix" minOccurs="0" type="xsd:string"/>
          <xsd:element name="xmlName" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="describeMetadata">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="asOfVersion" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="describeMetadataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="tns:DescribeMetadataResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Header">
    <part name="AllOrNoneHeader" element="tns:AllOrNoneHeader" />
    <part name="SessionHeader" element="tns:SessionHeader" />
  </message>
  <message name="createMetadataRequest">
    <part name="parameters" element="tns:createMetadata" />
  </message>
  <message name="createMetadataResponse">
    <part name="parameters" element="tns:createMetadataResponse" />
  </message>
  <message name="listMetadataRequest">
    <part name="parameters" element="tns:listMetadata" />
  </message>
  <message name="listMetadataResponse">
    <part name="parameters" element="tns:listMetadataResponse" />
  </message>
  <message name="readMetadataRequest">
    <part name="parameters" element="tns:readMetadata" />
  </message>
  <message name="readMetadataResponse">
    <part name="parameters" element="tns:readMetadataResponse" />
  </message>
  <message name="updateMetadataRequest">
    <part name="parameters" element="tns:updateMetadata" />
  </message>
  <message name="updateMetadataResponse">
    <part name="parameters" element="tns:updateMetadataResponse" />
  </message>
  <message name="upsertMetadataRequest">
    <part name="parameters" element="tns:upsertMetadata" />
  </message>
  <message name="upsertMetadataResponse">
    <part name="parameters" element="tns:upsertMetadataResponse" />
  </message>
  <message name="describeMetadataRequest">
    <part element="tns:describeMetadata" name="parameters"/>
  </message>
  <message name="describeMetadataResponse">
    <part element="tns:describeMetadataResponse" name="parameters"/>
  </message>
  <portType name="MetadataPortType">
    <operation name="createMetadata">
      <documentation>Creates metadata entries synchronously.</documentation>
      <input message="tns:createMetadataRequest" />
      <output message="tns:createMetadataResponse" />
    </operation>
    <operation name="listMetadata">
      <documentation>Lists the available metadata components.</documentation>
      <input message="tns:listMetadataRequest" />
      <output message="tns:listMetadataResponse" />
    </operation>
    <operation name="readMetadata">
      <documentation>Reads metadata entries synchronously.</documentation>
      <input message="tns:readMetadataRequest" />
      <output message="tns:readMetadataResponse" />
    </operation>
    <operation name="updateMetadata">
      <documentation>Updates metadata entries synchronously.</documentation>
      <input message="tns:updateMetadataRequest" />
      <output message="tns:updateMetadataResponse" />
    </operation>
    <operation name="upsertMetadata">
      <documentation>Upserts metadata entries synchronously.</documentation>
      <input message="tns:upsertMetadataRequest" />
      <output message="tns:upsertMetadataResponse" />
    </operation>
    <operation name="describeMetadata">
      <documentation>Describes features of the metadata API.</documentation>
      <input message="tns:describeMetadataRequest"/>
      <output message="tns:describeMetadataResponse"/>
    </operation>
  </portType>
  <binding name="MetadataBinding" type="tns:MetadataPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="describeMetadata">
      <soap:operation soapAction="" />
      <input>
        <soap:header message="tns:Header" part="SessionHeader" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="createMetadata">
      <soap:operation soapAction="" />
      <input>
        <soap:header message="tns:Header" part="SessionHeader" use="literal" />
        <soap:header message="tns:Header" part="AllOrNoneHeader" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listMetadata">
      <soap:operation soapAction="" />
      <input>
        <soap:header message="tns:Header" part="SessionHeader" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="readMetadata">
      <soap:operation soapAction="" />
      <input>
        <soap:header message="tns:Header" part="SessionHeader" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateMetadata">
      <soap:operation soapAction="" />
      <input>
        <soap:header message="tns:Header" part="SessionHeader" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="upsertMetadata">
      <soap:operation soapAction="" />
      <input>
        <soap:header message="tns:Header" part="SessionHeader" use="literal" />
        <soap:header message="tns:Header" part="AllOrNoneHeader" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MetadataService">
    <documentation>Manage your Salesforce.com metadata</documentation>
    <port name="Metadata" binding="tns:MetadataBinding">
      <soap:address location="https://login.salesforce.com/services/Soap/m/51.0" />
    </port>
  </service>
</definitions>